/* Color scheme:
Black: #1F2833
Dark grey: #323F4B
Grey: #3F4C59
Light grey: #53606D

Dark white: #CCD3D9
White: #E4E7EB
Light white: #F5F7FA

Blue: #0679bf
Dark blue: #446AAF
Purple: #6C61A4
Light purple: #92589A
Dark pink: #B44F91
Pink: #CE498A
*/

/* Landpage */
html {
    scroll-behavior: smooth;
  }

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(+20px);
    }

    100% {
        transform: translatey(0px);
    }
}

body{
    color: #323F4B;
}


ul{
    padding-left:0px;
    line-height: 1.2;
}
li{
    list-style-type: none;
}

div {
    font-family: 'Raleway', 'Questrial', sans-serif;
}

a, a:hover{
    text-decoration: none;
}

a:hover{
    color: rgb(240, 240, 240);
}

.navbar{
    position: fixed;
    transition: all 0.45s ease-out;
    z-index: 10;
    background-color: white;
    box-shadow: none;
}
.navbar a{
    color: #302f33;
}

.navbar-brand{
    font-family: proxima-nova,sans-serif;
    margin-left: 50px;
    background: rgb(6,121,191);/*linear-gradient(90deg, rgba(6,121,191,1) 0%, rgba(206,73,138,1) 100%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#navbarContent{
    justify-content: end;
}

.nav-link{
    margin-right: 50px;
    font-size: 18px;
    transition: all 0.2s ease-out;
}

.nav-link:hover{
    transform: translatey(-3px) ;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
}

#title{
    margin-top: 100px;
    height: 100vh;
    overflow: auto;
    padding-bottom: 20%;
}

#title img{
    width: 100%;
    z-index: 0;
}

#intro{
    font-family: proxima-nova,sans-serif;
    font-size: 60px;
    font-weight: 700;
    align-self: flex-end;
}

#outro{
    text-align: right;
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
}

#social-icon-container{
    align-self: center;
    box-shadow: 0px 10px 20px -7px #53606D;
    padding: 20% 15%;
    border-radius: 10px;
}

.social-icon a{
    color: #3F4C59;
}

.social-icon i:hover{
    color:rgb(6,121,191);
}

.social-icon {
    font-size: 24px;
}

#email-pop{
    display: none;
}

#profile-photo{
    position: relative;
    left:205px;
    overflow:hidden;
    margin-bottom: 100px;
}

.floating-icon{
    position: absolute;
    transform: translatey(0px);
}

.lightning{
    width:70px;
    animation: float 3s ease-in-out infinite;
    left:32%;
    top: 10px;
}

.glasses{
    animation: float 4s ease-in-out infinite;
    width:100px;
    left: 53%;
    top:-55px;
}

.sparkle{
    animation: float 3.5s ease-in-out infinite;
    width: 90px;
    left: 15%;
    top: 100px;
}

#profile{
    font-size: 24px;
    align-self: center;
}

#profile span, #intro span, #outro span{
    color:rgb(6,121,191);
}

#buttons{
    margin-top: 20px;
    justify-content: center;
    font-size: 20px;
}

#buttons a{
    color: white;
    padding: 10px 36px;
    border-radius: 5px;
    display: inline-block;
}

#buttons .rose:hover{
    box-shadow: 0px 20px 20px -12px rgba(206,73,138,0.6);
}

.button{
    transition: all ease-out 0.3s;
}

.button:hover{
    box-shadow: 0px 20px 20px -12px rgba(6,121,191, 0.6);
    transform: translateY(-7px);
}

.title{
    padding-top: 100px;
    font-size: 50px;
    letter-spacing: 7px;
    justify-content: center;
}

.project{
    margin-top: 100px;
    padding-bottom: 100px;
}

.project-text{
    font-size: 16px;
}

.project-title {
    text-transform: uppercase;
    font-size: 37px;
    letter-spacing: 6px;
    width: 100%
}
    #sh42 .project-title{
        color: #207EB7;
    }

    #ocr .project-title{
        color: #7D59A4;
    }

    #registre-general .project-title {
        color: #74c588;
    }

    #uprising .project-title {
        color: #b92E34;
    }
    #time-is-monet .project-title {
        color: #6495ED;
    }

.project-subtitle {
    font-size: 22px;
    letter-spacing: 3px;
    margin-top:10px
}

.project-subsubtitle{
    font-style: italic;
    color: grey;
    margin-top: 0;
    font-weight: 300;
}

.project-subsubsubtitle{
    margin-bottom: 18px;
    font-weight: bold;
    color: #4d4d4d;
}

.project-description{
    margin-top: 18px;
    margin-bottom: 18px;
    
}

.btn-pos{
    justify-content: center;
    margin-top: 50px;
}

.primary-btn{
    transition: all 0.3s;
    background-color: #74c588;
    color: white;
    cursor: pointer;
    padding: 12px 36px;
    box-shadow: none;
    border-radius: 5px;
    border:none;
}
.primary-btn:hover {
    transform: translateY(-7px);
    box-shadow: 0px 20px 20px -12px #74c588a2;
}

#sh42-btn {
    background-color: #207EB7;
}
    #sh42-btn:hover {
        box-shadow: 0px 20px 20px -12px #2388c7b2;
    }

#ocr-btn {
    background-color: #7D59A4;
}
    #ocr-btn:hover {
        box-shadow: 0px 20px 20px -12px #8760b1b6;
    }

#uprising-btn {
    background-color: #b92E34;
}
    #uprising-btn:hover {
        box-shadow: 0px 20px 20px -12px #b92e35b6;
    }

#tim-btn {
    background-color: #6495ED;
}

    #tim-btn:hover {
        box-shadow: 0px 20px 20px -12px #6494ed98;
    }

#rg-img{
    position: absolute;
    left: -350px;
    top: -40px;
}

#registre-general .project-text, #time-is-monet .project-text, #sh42 .project-text{
    position: relative;
    left: 60px;
}

#sh42-img{
    position: relative;
    right: 170px;
    top:-30px
}

#ocr-img{
    position: relative;
    left: 100px;
    top:-30px
}

#uprising-img{
    position: absolute;
    left: 60px;
}

#uprising .project-text, #ocr .project-text{
    position: relative;
    right: 60px;
}

#tim-img{
    position: relative;
    right: 300px;
    top:-50px
}

.small-project-icon {
    height: 100%;
}

.small-project-icon img{
    margin: 0 auto;
    align-self: baseline;
    max-width: 80%;
}

.title-bg{
    border-radius: 5px;
    padding: 3px 10px;
    margin-right: 5px;
    background-color: #E4E7EB;
}

.title-bg.color1{
    color: white;
    background-color:#0679bf;
}
.title-bg.color2{
    color: white;
    background-color:#446AAF;
}
.title-bg.color3{
    color: white;
    background-color:#6C61A4;
}
.title-bg.color4{
    color: white;
    background-color:#92589A;
}
.title-bg.color5{
    color: white;
    background-color:#B44F91;
}
.title-bg.color6{
    color: white;
    background-color:#CE498A;
}

.small-project-title a{
    color:#3F4C59;
}

.small-project-date{
    font-style: italic;
    margin-top: 0;
    font-weight: 300;
    font-size: 12px;
    margin: auto 0;
}

footer{
    color: white;
    box-shadow: 0px -6px 44px -19px rgba(120,126,214,0.81);
    background: rgb(6,121,191);
    background: linear-gradient(90deg, rgba(6,121,191,1) 0%, rgba(206,73,138,1) 100%);
}

footer a{
    color: white;
}
footer a:hover{
    color: grey;
}

/* Gallery */

#gallery{
    width:100%;
    position:relative;
    display: flex;
    margin-top: 30px;
}

    #gallery img {
        width: 100px;
        position: absolute;
        transform: translatey(0px);
    }
    #gallery  #zen {
        position: initial;
        width:500px;
        transform:none;
        margin: 40px auto;
    }

#Deer {
    top: 20px;
    left: 27%;
    animation: float 5s ease-in-out infinite;
}
#Wolf {
    top: -10px;
    left: 45%;
    animation: float 4s ease-in-out infinite;
}
#Eagle {
    top: 40px;
    right: 27%;
    animation: float 3s ease-in-out infinite;
}
#Trex {
    top: 120px;
    right: 10%;
    animation: float 4s ease-in-out infinite;
}
#Lion {
    top: 350px;
    right: 12%;
    animation: float 6s ease-in-out infinite;
}
#Peacock {
    top: 220px;
    left: 20%;
    animation: float 2s ease-in-out infinite;
}
#Dog {
    top: 120px;
    Left: 10%;
    animation: float 3s ease-in-out infinite;
}
#Unicorn {
    top: 350px;
    left: 14%;
    animation: float 7s ease-in-out infinite;
}
#Cat {
    top: 220px;
    right: 20%;
    animation: float 3s ease-in-out infinite;
} 

.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.gallery span{
    color: rgb(97, 97, 97);
    margin-bottom: 10px;
}

.gallery img{
    width:20%;
    object-fit: cover;
}


/* Resume */
#resume{
    min-height: 210vh;
}

#resume embed{
    min-height: 200vh;
}

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    #profile{
        font-size: 20px;
    }
    #profile-photo,.lightning,.glasses,.sparkle{
        display: none;
    }
    .small-project-icon img{
        max-width: 150%;
    }
    #intro{
        font-size: 36px;
        align-self: baseline;
    }
}

/* Medium devices (tablets, 992px and up) */
@media (min-width: 992px) {
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}